h1 {
  color: teal;
}

#container {
  border: 1px solid blue;
  padding: 10px;
  margin: 30px;
}

.person {
  border: 2px solid black;
  padding: 2px;
}

.person li {
  list-style: none;
  padding: inherit;
}

.person button, .person ul, .person li{
  display: inline;
}

.clicked {
  border-color: red;
}
